@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.req{
    color:#ff0000;
}
label {
    display: inline-block;
    /* width: 110px; */
    color: #777777;
  }
body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  
}

/* .error-message {
  color: #db4437;
} */

/* .card-body .error-message + input {
  border-bottom: 2px solid #db4437;
} */

.card-body .error-message {
  color: #db4437;
}

/* .card-body .error-message {
  margin: 10px 0;
  color: #db4437;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(154, 213, 228);
}

.active {
  background-color: #04AA6D;
}

  