{% extends "layout.html" %}

{% block content %}
      <div class="card" style="background-color: rgb(240, 234, 227);width: 100%;height: auto;">
          <div class="card-header" style="height:4rem; background-color: rgb(212, 184, 111);">
            <h3 style="color: black;">Internet Banking Registration </h3>
          </div>
          <div class="card-body" style="font-size: large;" >
            <form id="myForm3" action="/atm" method="POST">
              {{ form.hidden_tag }}
              <div class="form-row">
                {% for subfield in form.atm %}
                <tr>
                  <td>{{ subfield(style="vertical-align: middle;") }}</td> 
                  <td>{{ subfield.label(style="color:black;vertical-align: middle;") }}</td>
                  <br/>
                </tr>
                {% endfor %}
              </div>
                </br></br>
                <div style="text-align: center;">
                  {{ form.submit(class="btn btn-primary mb-3") }}
                </div>

                <div class="card w-100">
                    <div class="card-body" style="background-color: rgb(228, 197, 186);color: black;">
                        <ul style="list-style-type:disc;background-color: transparent;">
                            <li>If you are using ATM card details for registration then please make sure that your ATM card is active and it is used atleast once State Bank Group ATM.</li> 
                            <li>If you wish to register for internet banking through ATM card, kindly ensure that account mapped with your ATM card is operated as single.</li>
                        </ul>
                        <p style="margin-left: 40px;">The mode of operation should be 'Single' in bank's database.</p>
                    </div>
                </div>
            </form>
          </div>
        </div>      
{% endblock %}