<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
   
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <title>DD</title>
   
</head>
    <body>
        <script src="static/js/reset.js"></script>
          <div style="font-size: medium;">
            <div class="card-body" style="font-size: large;" >
                <h3 style="color: black;background-color: rgb(212, 184, 111);height: 4rem;">Demand Draft</h3>
                <ul>
                    <li><a class="active" href="#createRequest">Create Request</a></li>
                    <li><a href="#Status">Status</a></li>
                </ul>
                <div style="border: solid 2px;padding: 20px;">
                    
                    {% block content %}
                    {% endblock %}
                </div>
          </div>
    </body>
</html>
