{% extends "layout.html" %}

{% block content %}
<main class="container">
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ ', '.join(errors) }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="card-header" style="height:5rem; background-color: rgb(212, 184, 111);">
            <script src="static/js/reset.js"></script>
            <script src="static/js/confirm_pwd.js"></script>
            <h3 style="color: black;">Set Permanent Username and Password</h3>
            <p style="color: rgb(7, 7, 7);">Kindly enter a Login Username and Password of your choice for your future use in SBI's Internet Banking</p>
        <div style="font-size: medium;">
            <span class="req" style="margin-left: 20px;">*</span>Required
        </div>
        <div class="card-body" style="font-size: large;" >
            <form id="myForm5" method="POST" action="/username" class="Form" >
                {{ form.hidden_tag }}
                <div class="form-row" novalidate>
                    {{ form.username.label(style="color: blue;",class="col-3") }}
                        <span class="req" style="margin-left: -138px;margin-right: 148px;">*</span>
                    {{ form.username }}
                </div>
                <br><br>
                <div class="form-row">
                    {{ form.password.label(style="color: blue;",class="col-3") }}
                        <span class="req" style="margin-left: -92px;margin-right: 102px;">*</span>
                    {{ form.password }}
                </div></br></br>
                
                <div class="form-row">
                    {{ form.confirm_password.label(style="color: blue;",class="col-3") }}
                        <span class="req" style="margin-left: -68px;margin-right: 75px;">*</span>
                    {{ form.confirm_password }}
                </div></br></br>
                {{ form.checkbox(style="vertical-align:middle;margin-right:2px") }}
                {{ form.checkbox.label(style="color: blue;vertical-align:middle;") }}
                <span class="req" style="margin-left: -5px;margin-right: 22px;">*</span>
                
                </br>
                <div style="margin-left: 500px;">
                    {{ form.submit(class="btn btn-primary mr-3 mb-2 col-2") }}
                    <button type="button" class="form-group btn btn-primary mr-3 mb-2 col-2" onclick="resetForm('myForm5')">Reset</button>
                </div>
                <div class="card w-100 h-100">
                    <div class="card-body" style="background-color: rgb(228, 197, 186);color: black;">
                        <ul style="list-style-type:disc;background-color: transparent;">
                            <li>Your Username can be upto a maximum of 20 characters and can be a combination of alphabets and numbers only (Example-ravisharma, rajv123).</li>
                            <li>Please remember your Usemame and note that your Usemame cannot be changed in future.</li>
                            <li>Your new Usemame should not be identical to the User ID you received from the branch.</li>
                            <li>This password should have more than 8 and less than 20 characters</li>
                            <li>Password should contain at least one digit [0-9], one alphabet [A-Z][a-z] and one special character such as [@#&*!]</li>
                            <li>Please avoid choosing a password that is generic in nature, guessable or inferable</li>
                            <li>Avoid password from your personal data such name, date of birth, address, telephone number and car number.</li>
                            <li>It is good practice to commit your password to memory rather than to write it down somewhere</li>
                            <li>For security reasons, keep changing your password at regular intervals</li>
                        </ul>
                    </div>
                </div>  
            </form>
          </div>
    </div>
</main>   
{% endblock %}